In [12]:
import yfinance as yf

In [13]:
df=yf.download("2330.TW",start='2021-06-21',end='2021-09-18')
df

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close   Adj Close    Volume
Date
2021-06-21  590.0  594.0  583.0  583.0  574.851685  44279632
2021-06-22  585.0  588.0  578.0  578.0  569.921509  27823974
2021-06-23  583.0  598.0  581.0  595.0  586.683960  34392376
2021-06-24  598.0  598.0  588.0  590.0  581.753845  16524230
2021-06-25  598.0  598.0  589.0  591.0  582.739868  18841696
...           ...    ...    ...    ...         ...       ...
2021-09-13  619.0  620.0  613.0  615.0  606.404419  15198774
2021-09-14  618.0  618.0  612.0  613.0  604.432373  14441901
2021-09-15  610.0  613.0  607.0  607.0  598.516235  23433501
2021-09-16  603.0  607.0  599.0  600.0  594.306580  22467022
2021-09-17  600.0  610.0  599.0  600.0  594.306580  40717715

[65 rows x 6 columns]

In [14]:
df=yf.download("3293.TWO",start='2021-06-21',end='2021-09-18')
df

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close   Adj Close  Volume
Date
2021-06-21  849.0  865.0  849.0  851.0  800.588135  631000
2021-06-22  856.0  880.0  852.0  858.0  807.173462  973000
2021-06-23  861.0  866.0  852.0  855.0  804.351196  556000
2021-06-24  862.0  862.0  845.0  848.0  797.765869  649000
2021-06-25  856.0  860.0  846.0  846.0  795.884338  511000
...           ...    ...    ...    ...         ...     ...
2021-09-13  662.0  674.0  662.0  666.0  666.000000  555000
2021-09-14  667.0  674.0  659.0  662.0  662.000000  357000
2021-09-15  665.0  667.0  648.0  651.0  651.000000  288000
2021-09-16  656.0  657.0  638.0  640.0  640.000000  304000
2021-09-17  642.0  664.0  640.0  664.0  664.000000  411000

[65 rows x 6 columns]

In [15]:
df=yf.download("AAPL",start='2021-06-21',end='2021-09-18')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-21,130.300003,132.410004,129.210007,132.300003,131.548447,79663300
2021-06-22,132.130005,134.080002,131.619995,133.979996,133.218872,74783600
2021-06-23,133.770004,134.320007,133.229996,133.699997,132.940491,60214200
2021-06-24,134.449997,134.639999,132.929993,133.410004,132.652130,68711000
2021-06-25,133.460007,133.889999,132.809998,133.110001,132.353851,70783700
...,...,...,...,...,...,...
2021-09-13,150.630005,151.419998,148.750000,149.550003,148.923233,102404300
2021-09-14,150.350006,151.070007,146.910004,148.119995,147.499207,109296300
2021-09-15,148.559998,149.440002,146.369995,149.029999,148.405411,83281300
2021-09-16,148.440002,148.970001,147.220001,148.789993,148.166412,68034100
2021-09-17,148.820007,148.820007,145.759995,146.059998,145.447861,129868800

In [16]:
stock_list=['0050.TW']
for i in stock_list:
    df=yf.download(i,start='2021-06-21',end='2021-09-18')
    df=df[['Close']]
    df1=df.rename(columns = {'Close': i[:4]})
df1

[*********************100%***********************]  1 of 1 completed

                  0050
Date
2021-06-21  134.699997
2021-06-22  134.850006
2021-06-23  137.050003
2021-06-24  136.699997
2021-06-25  136.949997
...                ...
2021-09-13  141.449997
2021-09-14  141.600006
2021-09-15  140.750000
2021-09-16  140.100006
2021-09-17  140.500000

[65 rows x 1 columns]

In [17]:
stock_list=['1101','1102','1216','1301','1303','1326','1402','1590','2002','2207','2603','2609','2615','2801',
           '2880','2881','2882','2884','2885','2886','2887','2891','2892','5876','5880','2912','5871',
            '9910','6505','2303','2330','2379','2408','2454','3034','3711','6415','2357','2382','2395','4938',
             '2409','3008','2412','3045','4904','2308','2327','8046','2317']

In [18]:
stock_no=[]
for i in stock_list:
    j=i+'.TW'
    stock_no.append(j)

In [19]:
for i in stock_no:
    df=yf.download(i,start='2021-06-21',end='2021-09-18')
    df=df[['Close']]
    df=df.rename(columns = {'Close': i[:4]})    
    
    df1=df1.set_index(df1.index).join(df.set_index(df.index))
    
    print(i)

[*********************100%***********************]  1 of 1 completed
1101.TW
[*********************100%***********************]  1 of 1 completed
1102.TW
[*********************100%***********************]  1 of 1 completed
1216.TW
[*********************100%***********************]  1 of 1 completed
1301.TW
[*********************100%***********************]  1 of 1 completed
1303.TW
[*********************100%***********************]  1 of 1 completed
1326.TW
[*********************100%***********************]  1 of 1 completed
1402.TW
[*********************100%***********************]  1 of 1 completed
1590.TW
[*********************100%***********************]  1 of 1 completed
2002.TW
[*********************100%***********************]  1 of 1 completed
2207.TW
[*********************100%***********************]  1 of 1 completed
2603.TW
[*********************100%***********************]  1 of 1 completed
2609.TW
[*********************100%***********************]  1 of 1 completed
2615.TW
[*********************100%***********************]  1 of 1 completed
2801.TW
[*********************100%***********************]  1 of 1 completed
2880.TW
[*********************100%***********************]  1 of 1 completed
2881.TW
[*********************100%***********************]  1 of 1 completed
2882.TW
[*********************100%***********************]  1 of 1 completed
2884.TW
[*********************100%***********************]  1 of 1 completed
2885.TW
[*********************100%***********************]  1 of 1 completed
2886.TW
[*********************100%***********************]  1 of 1 completed
2887.TW
[*********************100%***********************]  1 of 1 completed
2891.TW
[*********************100%***********************]  1 of 1 completed
2892.TW
[*********************100%***********************]  1 of 1 completed
5876.TW
[*********************100%***********************]  1 of 1 completed
5880.TW
[*********************100%***********************]  1 of 1 completed
2912.TW
[*********************100%***********************]  1 of 1 completed
5871.TW
[*********************100%***********************]  1 of 1 completed
9910.TW
[*********************100%***********************]  1 of 1 completed
6505.TW
[*********************100%***********************]  1 of 1 completed
2303.TW
[*********************100%***********************]  1 of 1 completed
2330.TW
[*********************100%***********************]  1 of 1 completed
2379.TW
[*********************100%***********************]  1 of 1 completed
2408.TW
[*********************100%***********************]  1 of 1 completed
2454.TW
[*********************100%***********************]  1 of 1 completed
3034.TW
[*********************100%***********************]  1 of 1 completed
3711.TW
[*********************100%***********************]  1 of 1 completed
6415.TW
[*********************100%***********************]  1 of 1 completed
2357.TW
[*********************100%***********************]  1 of 1 completed
2382.TW
[*********************100%***********************]  1 of 1 completed
2395.TW
[*********************100%***********************]  1 of 1 completed
4938.TW
[*********************100%***********************]  1 of 1 completed
2409.TW
[*********************100%***********************]  1 of 1 completed
3008.TW
[*********************100%***********************]  1 of 1 completed
2412.TW
[*********************100%***********************]  1 of 1 completed
3045.TW
[*********************100%***********************]  1 of 1 completed
4904.TW
[*********************100%***********************]  1 of 1 completed
2308.TW
[*********************100%***********************]  1 of 1 completed
2327.TW
[*********************100%***********************]  1 of 1 completed
8046.TW
[*********************100%***********************]  1 of 1 completed
2317.TW

In [20]:
df1

,0050,1101,1102,1216,1301,1303,1326,1402,1590,2002,...,4938,2409,3008,2412,3045,4904,2308,2327,8046,2317
Date,,,,,,,,,,,,,,,,,,,,,
2021-06-21,134.699997,50.700001,50.000000,72.599998,100.0,81.400002,82.800003,30.750000,998.000000,34.299999,...,74.400002,23.100000,2950.0,113.5,101.500000,64.599998,294.0,527.0,358.5,108.5
2021-06-22,134.850006,50.900002,50.799999,72.500000,102.0,81.900002,83.300003,30.850000,1035.000000,36.150002,...,74.300003,23.500000,2930.0,114.0,101.500000,65.000000,296.0,525.0,387.0,108.5
2021-06-23,137.050003,51.000000,50.500000,73.300003,103.5,82.800003,84.500000,31.650000,1045.000000,35.400002,...,74.599998,24.200001,2990.0,114.5,102.000000,65.199997,296.0,534.0,394.0,111.5
2021-06-24,136.699997,51.099998,50.299999,73.400002,103.0,83.000000,84.400002,31.500000,1110.000000,35.799999,...,74.500000,23.650000,2960.0,114.0,102.000000,65.400002,290.0,530.0,402.5,113.0
2021-06-25,136.949997,51.000000,50.599998,73.500000,104.0,83.000000,84.599998,31.750000,1120.000000,35.750000,...,74.500000,23.049999,3085.0,114.5,102.500000,65.400002,295.0,535.0,393.0,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-13,141.449997,50.099998,45.900002,69.099998,100.5,88.500000,82.800003,29.450001,903.428955,40.049999,...,65.199997,17.950001,2580.0,111.0,99.300003,60.900002,263.5,484.0,434.0,106.5
2021-09-14,141.600006,51.400002,46.500000,69.400002,102.0,88.599998,83.199997,29.750000,899.475220,39.849998,...,64.500000,17.650000,2530.0,111.0,99.000000,60.799999,263.5,481.0,444.0,107.5
2021-09-15,140.750000,51.200001,46.349998,69.400002,102.0,88.900002,83.300003,29.799999,942.966370,39.250000,...,64.599998,17.799999,2520.0,111.0,99.199997,61.000000,258.0,466.0,448.5,108.5
2021-09-16,140.100006,51.700001,46.500000,69.099998,103.0,90.500000,83.500000,29.650000,945.931641,38.500000,...,64.900002,17.600000,2460.0,111.5,99.000000,60.900002,260.0,461.5,449.0,107.5
2021-09-17,140.500000,50.700001,45.000000,69.599998,102.0,89.900002,82.300003,29.500000,968.665649,37.799999,...,64.699997,17.450001,2425.0,111.0,99.500000,60.599998,256.0,470.5,460.0,108.5